<footer class="mainFooter">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-4">
                <article class="footerData">
                    <i class="fas fa-credit-card naranja"></i>
                    <h2>Pagá con tarjeta o en efectivo</h2>
                    <p>Tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. </p>
                </article>
            </div>
            <div class="col-12 col-lg-4">
                <article class="footerData">
                    <i class="fas fa-gift"></i>
                    <h2>Envío gratis desde $ 1.999</h2>
                    <p>Solo por estar registrado tenés envíos gratis en miles de productos</p>
                </article>
            </div>
            <div class="col-12 col-lg-4">
                <article class="footerData">
                    <i class="fas fa-user-shield"></i>
                    <h2>Seguridad, de principio a fin</h2>
                    <p>¿No te gusta? ¡Devolvelo! No hay nada que no puedas hacer!</p>
                </article>
            </div>
            <div class="fotterLargo">
                <article class="footerData">
                    <h4>Melina Márquez, Luciana Vacarezza y Simon Casas</h4>
                        <img class="logoFoot" src="/images/borrachet.png">  
                </article>
            </div>
        </div>
    </div>
</footer>
