<header class="mainHeader">
	<div class="container alinear">
		<div class="row alignItemsCenter">
			<div class="col-5 col-md-2">
				<a href="/" class="mainHeaderHomeLink">
					<img class="logo" src="/images/borrachet.png">
				</a>
			</div>

			<div class="col-7 col-md-6">
				<form action="/products/results" method="GET" class="searchForm">
					<input type="text" name="search" placeholder="Buscar productos, marcas y más" class="searchFormInput">
					<button type="submit" class="searchFormButton"><i class="fas fa-search"></i></button>
				</form>
			</div>

			<div class="col-12 col-md-4">
				<a class=".mainHeaderCreditLink ">
				</a>
			</div>
		</div>

		<button class="btnToggleNavbar">
			<i class="fas fa-bars"></i>
		</button>

		<nav class="mainNavbar">
			<ul class="leftNavbar">
				<li><a class="titulosHeader logout" href="/">Todos los productos</a></li>
				<li><a class="titulosHeader logout" href="/products/Add">Cargar productos</a></li>
			</ul>

			<ul class="rightNavbar">
					<li><a class="titulosHeader" href="/users/profile">
						<%= usuario.usuario %> <i class="fas fa-user"></i>
					</a>
				</li>
				<li>
					<form action="/users" method="get">
						<button class="logout tipo titulosHeader" type="submit">
							Cerrar sesión <i class="fas fa-sign-in-alt"></i>
						</button>
					</form>
				</li>
			</ul>
		</nav>
	</div>
</header>