<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link width="" rel="shortcut icon" href="/images/borrachet.png" />

	<title> Borrachet</title>
	<!-- Font Awesome Stylesheet -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
	<!-- Bootstrap Grid Stylesheet -->
	<link rel="stylesheet" href="/stylesheets/bootstrapGrid.min.css">
	<!-- Own Stylesheet -->
	<link rel="stylesheet" href="/stylesheets/app.css">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap" rel="stylesheet">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap" rel="stylesheet">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200&family=Quicksand:wght@300..700&display=swap" rel="stylesheet">
</head>
<body>

	<%- include("./partials/headerLogueado.ejs") %>

	
	<div class="container productsWrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="productsTitle">Editar mi perfil</h2>
			</div>
			<!-- Show the "ultimos" products ..-->
			<h2 class="col-12">
				<form action="/users/profile" method="GET">
					<div class="registrarse">
						<label for="email">Email:</label>
						<input id="email" type="email" name="email" value="" required> 
					</div>
					<div class="registrarse">
						<label for="user">Usuario:</label>
						<input id="user" type="text" name="user" value="" required> 
					</div>
					<div class="registrarse">
						<label for="user">Contraseña:</label>
						<input id="user" type="password" name="user" value="" required> 
					</div>
					<div class="registrarse">
						<label for="birthdate">Fecha de nacimiento:</label>
						<input id="birthdate" type="date" name="birthdate" value="" required> 
					</div>
					<div class="registrarse">
						<label for="doc">Documento:</label>
						<input id="doc" type="number" name="doc" value="" required> 
					</div>
					<div class="registrarse">
						<label for="picture">Foto de perfil:</label>
						<input id="picture" type="text" name="picture" value="" required> 
					</div>
					<div>
						<button class="botonesNaranja" type="submit">Enviar</button>
					</div>
				</form>
			</h2>
		</div>
	</div>

	<%- include("./partials/footerLogueado") %>

</body>

</html>